<%- include("./../layout/header"); -%> 

    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
            <div class="space-100"></div>
            <div class="db-title text-center">
                <h3>ALL USER SWAP</h3>
            </div>
            <div class="space-50"></div>
            <hr class="bg-white">
            <div class="space-30"></div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="assets-box text-left">
                        <h5>EXCHANGES HISTORY</h5>
                        <hr class="bg-white">
                        <table class="col-lg-12 col-sm-12">
                            <tr class="value-deposit">
                                <td class="value-deposit-detail">From</td>
                                <td class="value-deposit-detail">To</td>
                                <td class="value-deposit-detail">Rate</td>
                                <td class="value-deposit-detail">Amount</td>
                                <td class="value-deposit-detail">TimeStamp</td>
                            </tr>
                            </tr>
                            <% swap.forEach((item)=>{%>
                                <% item.wallet.history.swap.forEach((i)=>{%>
                                <tr class="value-deposit">
                                    <td class="value-deposit-detail"><strong class="text-uppercase"><%= i.from%></strong class="text-uppercase"></td>
                                    <td class="value-deposit-detail"><strong class="text-uppercase"><%= i.to %></strong class="text-uppercase"></td>
                                    <td class="value-deposit-detail"><strong><%= i.rate %></strong></td>
                                    <td class="value-deposit-detail"><strong><%= i.amount %></strong></td>
                                    <td class="value-deposit-detail"><strong><%= new Date(i.timestamps).toUTCString(); %></strong></td>
                                </tr>
                                <% }); %>
                            <% }) %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space-30"></div>
    </div>
    <!--welcome area end-->
<%- include("./../layout/footer"); -%> 